{% extends 'base.html' %}

{% load staticfiles %}

{% block myCssLink %}
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
{% endblock %}

{% block title %}登录{% endblock %}

{% block mainContent %}

    <main id="main-content">
        <div id="contentContainer">
            <div class="loginBox">
                <div class="loginHead">
                    用户登录
                </div>
                <div class="loginFormBox">
                    <form id="loginForm" class="loginForm" name="loginForm" action="{% url 'users:login' %}"
                          method="post" onsubmit="return validate_account();" autocomplete="off">
                        {% csrf_token %}
                        <table class="loginTable">
                            <tr class="inputLine">
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr class="inputLine">
                                    <td> </td>
                                    <td class="inputContent accountError" style="text-align: left;color: red;">
                                        <span id="accountErrorMsg" class="accountErrorMsg" style="color:#E51106;font-size: 12px;"></span>
                                    </td>
                                    <td> </td>
                            </tr>
                            <tr class="inputLine">
                                <td class="inputTitle">
                                    <label for="id_email" class="inputLabel">邮箱：</label>
                                </td>
                                <td class="inputContent">
                                    <input class="loginInput" id="id_email" type="email" name="email"
                                           value="{{ user_login_form.email.value }}" autofocus="autofocus" />
                                    <input type="hidden" id="id_activated" name="activated" value="">
                                </td>
                                <td>
                                    <a class="registerLink" href="{% url 'users:register' %}" title="点击以注册账号" target="_self">没有账号？</a>
                                </td>
                                <td class="errorMsgTd emailErrorTd">
                                </td>
                            </tr>
                            <tr class="inputLine">
                                <td class="inputTitle">
                                    <label for="id_password" class="inputLabel">密码：</label>
                                </td>
                                <td class="inputContent">
                                    <input class="loginInput" id="id_password" type="password" name="password"
                                           value="{{ user_login_form.password.value }}" />
                                </td>
                                <td><a class="forgetLink" href="{% url 'users:forgetpwd' %}" title="点击以找回密码" target="_self">忘记密码？</a></td>
                                <td class="errorMsgTd pwdErrorTd">
                                </td>
                            </tr>
                            <tr class="inputLine">
                                <td></td>
                                <td class="inputSub">
                                    <input class="loginSubmitBtn" id="loginSubmitBtn" type="submit" value="登录" />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="loginFoot">
                    易得比价网为您选购笔记本电脑提供优质服务!
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block myJs %}
    <script>
        $(document).ready(function () {
            var $loginForm = $("#loginForm");

            $loginForm.validate({
                errorPlacement: function(error, element){
                    $("#accountErrorMsg").text("");
                    error.appendTo(element.parent("td").next("td").next("td"));
                },
                onkeyup: false,
                rules: {
                    email: {
                        required: true,
                        checkEmail: true,
                    },
                    password: {
                        required: true,
                        rangelength: [6, 16],
                    },
                },
                messages: {
                    email: {
                        required: "必填项",
                        email: "邮箱格式不正确",
                    },
                    password: {
                        required: "必填项",
                        rangelength: "密码长度为6至16个字符",
                    },
                },
            });
        });
        $.validator.addMethod("checkEmail", function (value, element) {
                var checkEmail = /^[a-z0-9._]+@([a-z0-9]+\.)+[a-z]{2,4}$/i;
                return this.optional(element) || (checkEmail.test(value));
}, "邮箱格式不正确");
        {#onsubmit()是js事件，在表单提交前触发，submit是一个用于提交form表单的方法。onsubmit在前，submit在后。#}
        var is_valid = false;
        function validate_account() {
            var $loginSubBtn = $("#loginSubmitBtn");
            $loginSubBtn.hide();
            var formData = new FormData();
            formData.append("email", $("#id_email").val());
            formData.append("password", $("#id_password").val());
            formData.append('csrfmiddlewaretoken', $("input[name='csrfmiddlewaretoken']").val());
            $.ajax({
                url: "{% url 'users:ajax_validate_account' %}",
                type: 'post',
                dataType: 'json',
                async: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    if (data["is_valid"] === "true")
                        is_valid = true;
                },
            });
            if (!is_valid) {
                $("#accountErrorMsg").text("邮箱或密码错误");
                $loginSubBtn.show();
            }
            return is_valid;
        }
    </script>
{% endblock %}